<!doctype html>
<html>
<head>
    <title>Sign in K-NET</title>
    <script>
    </script>
</head>
<body>
    <form action="register.php" method="POST">
        <table>
            <tr>
                <th><label>id : </label></th>
                <th><input type="text" name="id"/><br></th>
            </tr>
            <tr>
                <th><label>password : </label></th>
                <th><input type="password" name="passwd"/><br/></th>
            </tr>
            <tr>
                <th><label>gisu : </label></th>
                <th><input type="number" name="gisu"/><br/></th>
            </tr>
            <tr>
                <th><label>realname : </label></th>
                <th><input type="text" name="realname"/><br/></th>
            </tr>
            <tr>
                <th><label>student_id : </label></th>
                <th><input type="number" name="student_id"/><br/></th>
            </tr>
            <tr>
                <th><label>birty_date : </label></th>
                <th><input type="date" name="birty_date"/><br/></th>
            </tr>
        </table>
    <input type="submit" value="submit"/>
</body>
</html>